// Colors
$main-light-blue: #26A9BD;
$main-orange: #FF8D61;
$off-white: #F2F2F2;

// Text colors
$surtitle-color: #525252;
$heading-txt-color: #191919;
$main-txt-color: #707070;

//dimensions
$header-height: 90px;